.certificates-buttons {
	margin-top: 30px;
	display: flex;
}

.certificates__generator-page {
	width: 100%;
	background-color: white;
	padding: 50px 0;
}

.certificates_preview-block {
	display: flex;
	margin-top: 50px;
}

.certificates_preview-block img {
	width: 50%;
}

.certificates_preview-block .certificates-buttons {
	width: 40%;
	margin-left: 10%;
	flex-direction: column;
	margin-top: 0;
}

.certificates_preview-block .certificates-buttons .btn {
	margin-bottom: 10px;
}