.cert_form {
	margin-top: 50px;
}

.cert_form table {
	border: 0;
	width: auto;
}

.cert_form label {
	margin-bottom: 10px;
}

.cert_form input, .cert_form select {
	margin-left: 30px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

.cert_form .btn {
	margin-left: 0;
	margin-right: 10px;
    width: auto;
    padding: 0 20px;
}

.certificates-buttons {
	margin-top: 30px;
	display: flex;
}

.cert_form tbody tr {
	background: white!important;
}

.cert_form tbody tr td {
	padding: 0;
	border: 0!important;
}

.cert_form .certificates-loader, .cert_form_array .certificates-loader-mass {
	margin-bottom: 30px; 
	display: none;
	width: 30px;
	margin-left: 0;
}

.certificates__generator-page {
	width: 100%;
	background-color: white;
	padding: 50px 0;
}

.cert_form .required_field {
	color: red;
}

.certificates_simple-download {
	margin: 30px 0;
}

.certificates_mass-results {
	list-style: disc;
	display: none;
	margin-bottom: 50px;
}

.certificates_mass-results li {
	margin-bottom: 15px;
}